In [1]:
import databricks.koalas as ks
import numpy as np
import pyspark.sql.functions as F
from pyspark.sql.window import Window
import string
from pyspark import SparkConf
from pyspark import SparkContext

import re
from langdetect import detect
from pyspark.sql import SparkSession

WARNING:root:Found numpy version "1.20.2" installed with pyspark version "3.0.2". Some functions will not work well with this combination of numpy version "1.20.2" and pyspark version "3.0.2". Please try to upgrade pyspark version to 3.1 or above, or downgrade numpy version to below 1.20.
WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. Koalas will set it for you but it does not work if there is a Spark context already launched.

In [2]:
confSpark = SparkConf().set("spark.driver.bindAddress", "localhost")
spark = SparkContext("local[*]", "appname", conf = confSpark)
#spark = SparkSession.builder.master("local[*]").appName("URBANICITY").getOrCreate()

In [3]:
%run ./geospatial_functions.ipynb
%run ./01_text_similarity_functions.ipynb
%run ./01_text_prep_functions.ipynb

[nltk_data] Downloading package punkt to C:\Users\Salif
[nltk_data]     SAWADOGO\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Salif
[nltk_data]     SAWADOGO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [6]:
name_column_regex_replace = {r"\'": "", r"\d{5}": "", r"\s+": " "}
address_column_blacklist = []
address_column_regex_replace = {r"\'": "", r"\s+": " ", "avenu ": "av ", "boulevard ": "bd "}

In [7]:
cmd = spark.read.option("header", "True").\
    option("inferSchema", "true").\
    csv("D:/data_quality/data/customer_invoice_tizi_ouzou.csv") [["Client", "LONGITUDE", "LATITUDE", "Nom", "Adresse"]].\
    withColumnRenamed("Client","CUSTOMER_COD")

In [104]:
cmd.show()

+------------+----------------+----------------+--------------------+--------------------+
|CUSTOMER_COD|       LONGITUDE|        LATITUDE|                 Nom|             Adresse|
+------------+----------------+----------------+--------------------+--------------------+
|       72011|4.10326666666666|36.6073166666666|       MANOUCHE AMAR|    RUE TALA ATHMANE|
|       72009|        4.080755|36.6208683333333|       SADAOUI HAMID|       RUE AMIROUCHE|
|       72000|         4.08768|       36.617363|     SARL TOUTE ELLA|     RUE IGHIL HAMOU|
|       71999|         4.04352|        36.69592|    BOUZERD ABDENOUR|  BENI DOUALA CENTRE|
|       71998|        4.178637|       36.768272|           DLIM SAID|RESIDENCE HADJILI...|
|       71997|4.05602833333333|36.7153966666666|      ALIOUT  RAZIKA|     RUE ANAR AMELAL|
|       71996|      4.03790698|      36.7076863|       MOHDEB CHERIF|      VILLAGE LOUDHA|
|       71991|4.07188333333333|        36.64442|          ETS MEDDAD|   LAGAR SIDI MAAMAR|
|       71967|        4.077905|          36.716|        LEKHEL FARID|  CITE 104 LOGEMENTS|
|       71966|4.07170166666666|36.8012566666666|     BERREFAS CHAFIK|  CITE 600 LOGEMENTS|
|       71953|4.07280833333333|36.6958983333333|        LOUNAS NACER|COOP ASSAMEUR 600...|
|       71946|4.04055333333333|36.6352333333333|       GHANEM BRAHIM|     CITE 05 JUILLET|
|       71945|4.00686833333333|        36.54471|      MESBAHI MOHAND|      SOUK EL THNINE|
|       71944|        4.256008|       36.552013|    BENAZOUG IBRAHIM|     CITE MOULDIOUNE|
|       71943|      4.02135422|     36.73182946|       HAMOUM BRAHIM|     BOUZGUEN CENTRE|
|       71942|         4.01008|36.5927933333333|    IMARAZENE FAREDJ|  VILLAGE IHITOUSSEN|
|       71941|4.00483833333333|36.5446833333333|        BESSAHA LYES|    VILLAGE TAKOUCHT|
|       71940|4.04400666666666|36.7052266666666|LAHLOUH MOHAND CH...|   VILLAGE AIT ZELAL|
|       71936|         4.11735|       36.701945|  BOUBCHIR ABDEREZAK|RUE UNIVERSITÉ TAMDA|
|       71935|3.84238833333333|36.5365416666666|BEN AMAR BELKACEM...|       OUACIF CENTRE|
+------------+----------------+----------------+--------------------+--------------------+
only showing top 20 rows

In [9]:
cmd_golden_uri="C:/Users/Salif SAWADOGO/OneDrive - EQUATORIAL COCA-COLA BOTTLING COMPANY S.L/dynamic segmentation/matching/output/horeca_tz_customer_subset.csv"
cmd_golden_ids = spark.read.option("header", "True").\
               csv(cmd_golden_uri)\
    [["CUSTOMER_COD"]].withColumn("CUSTOMER_COD", F.col("CUSTOMER_COD").cast("integer"))
cmd_golden_ids.show()

+------------+
|CUSTOMER_COD|
+------------+
|       56341|
|       38014|
|       38861|
|       54921|
|       37832|
|       37757|
|       41128|
|       40777|
|       52474|
|       37968|
|       38055|
|       38144|
|       64884|
|       38015|
|       39745|
|       45301|
|       55586|
|       39813|
|       62873|
|       38867|
+------------+
only showing top 20 rows

In [10]:
cmd_golden_ids.count()

198

In [11]:
name_column_blacklist = ["cafe", "cf", "restaurant", "estaurant", "rest", "ag", "ste", "café", "snack", "hotel", "sarl", "rotisserie", "marrakech"]
name_column_regex_replace = {r"\'": "", r"\d{5}": "", r"\s+": " "}
address_column_blacklist = []
address_column_regex_replace = {r"\'": "", r"\s+": " ", "avenu ": "av ", "boulevard ": "bd "}

In [13]:
cmd_golden = cmd.join(cmd_golden_ids, ["CUSTOMER_COD"]) \
                .withColumn("NOM_CLEAN", make_text_prep_func(word_blacklist=name_column_blacklist, regex_replace=name_column_regex_replace)(F.col("Nom"))) \
                .withColumn("ADRESSE_CLEAN", make_text_prep_func(word_blacklist=address_column_blacklist, regex_replace=address_column_regex_replace)(F.col("Adresse")))

cmd_golden.show()

+------------+----------------+----------------+--------------------+--------------------+--------------------+--------------------+
|CUSTOMER_COD|       LONGITUDE|        LATITUDE|                 Nom|             Adresse|           NOM_CLEAN|       ADRESSE_CLEAN|
+------------+----------------+----------------+--------------------+--------------------+--------------------+--------------------+
|       67250|3.84282333333333|        36.53764|        FOUNES HAKIM|       OUACIF CENTRE|          foun hakim|          ouac centr|
|       65126|4.05923833333333|36.7026533333333|         COFFEE TIME|BVD LES BOUZARD K...|          coffe time|bvd les bouzard k...|
|       65115|         3.95982|36.7239933333333|         RABHI SAMIR|COMMUNE AIN ZAOUI...|         rabhi samir|commun ain zaoui ...|
|       65113|4.36676666666666|36.6663883333333|        SADJI YOUCEF|      MAKOUDA CENTRE|        sadji youcef|       makouda centr|
|       65061|         3.95595|36.7342433333333|        AMAR CHERGUI|RUE DES FRERES MA...|        amar chergui|rue des frere mam...|
|       64884|4.30798166666666|36.6587733333333|          MALEM FETA|       AZAZGA CENTRE|          malem feta|        azazga centr|
|       64458|4.15319166666666|36.7002383333333|       ELBAHRI FARID|      zone sud ouest|       elbahri farid|       zon sud ouest|
|       64252|4.48071166666666|36.6106566666666|    OUMATOUS MOULOUD|     RUE YOUCEF OMAR|    oumatous mouloud|     rue youcef omar|
|       63796|        4.083242|       36.619366|        HAFED HAKIMA|     RUE LES CHABANE|         hafe hakima|           ru chaban|
|       63472|         4.24522|        36.79302|      GAOUAOUI HAKIM|cité des oranges,...|      gaouaoui hakim|cit orang tadm ti...|
|       62873|4.36454166666666|36.7462433333333|     AIT ALI HOUCINE|tikobaine tizi ouzou|          ali houcin| tikobain tizi ouzou|
|       62693|4.30919833333333|       36.738955|       MOURI RABAH 2|  ENEL COMMUNE FREHA|       mouri rabah 2|    enel commun freh|
|       62047|4.31443833333333|        36.78579|          OUHAB AMAR|rue colonel amiro...|          ouhab amar|rue colonel amiro...|
|       62029|4.37842833333333|       36.749925|   AIT RAMDANE AMMAR|AGOUNI AUCHARKI C...|        ramdan ammar|agouni aucharki c...|
|       61655|4.16647166666666|        36.67668|SELHAOUI SOUAD EP...|couperait  kessra...|selhaou souad ep ...|coup kessraou loc...|
|       61321|4.17709333333333|36.6408933333333|     BOUKAROU YACINE|ROUTE AIT AISSA M...|      boukarou yacin|rout ait aissa mi...|
|       61219|         4.19592|36.7132083333333|     OUMELLIL TOUFIK|rue principale bo...|     oumellil toufik|rue principal bou...|
|       58879|      4.08003931|     36.86121219|       CHABANE NABIL|rue des frères ou...|        chaban nabil|ru frer oumran ti...|
|       58872|4.05318666666666|36.7029083333333|     BOUARABE YACINE|   ZONE INDUSTRIELLE|       bouarab yacin|    zone industriell|
|       58827|4.07591166666666|        36.64707|      ABKARI  MADJID| CITE BORDJ HASNAOUA|       abkari madjid| cite bordj hasnaoua|
+------------+----------------+----------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [14]:
tripadvisor_data_uri ="C:/Users/Salif SAWADOGO/OneDrive - EQUATORIAL COCA-COLA BOTTLING COMPANY S.L/dynamic segmentation/data_acquisition/TripAdvisor/code/output/ta_combined_l3_Algeria_prepped.parquet"

ta = spark.read.option("header", "True").option("inferSchema", "True").parquet(tripadvisor_data_uri)[["id", "name", "address", "location_lat", "location_lon"]] \
          .withColumn("name_CLEAN", make_text_prep_func(word_blacklist=name_column_blacklist, regex_replace=name_column_regex_replace)(F.col("name"))) \
          .withColumn("address_CLEAN", make_text_prep_func(word_blacklist=address_column_blacklist, regex_replace=address_column_regex_replace)(ta_remove_address_tail(F.col("address")))) \
          .withColumn("location_lat", F.col("location_lat").cast("float")) \
          .withColumn("location_lon", F.col("location_lon").cast("float"))
ta[["name","address","location_lat","location_lon","name_CLEAN", "address_CLEAN"]].show()

+--------------------+--------------------+------------+------------+--------------------+--------------------+
|                name|             address|location_lat|location_lon|          name_CLEAN|       address_CLEAN|
+--------------------+--------------------+------------+------------+--------------------+--------------------+
|         Paris Beach|                null|    35.92549|    0.090527|          pari beach|                    |
|    Pecherie Almirez|                null|    35.93473|     0.08014|     pecheri almirez|                    |
|Pizza 447 Mostaganem|                null|    35.92259|      0.1093|pizza 447 mostaganem|                    |
|             algerie|                null|    35.92785|     0.10009|              algeri|                    |
| Bekhchis Mostaganem|                null|    35.91465|    0.056364|  bekhchi mostaganem|                    |
|             Happy M|                null|   35.915577|    0.057128|               happi|                    |
|Caféteria les jum...|                null|   35.919296|    0.061058|     cafeteri jumeau|                    |
|        Pizza Plus +|                null|        null|        null|          pizza plus|                    |
|  Piano Sandwicherie|                null|   35.917297|     0.06057|   piano sandwicheri|                    |
|           L'Ardoise|                null|    35.93035|     0.07842|              ardois|                    |
|           Holy Food|                null|        null|        null|           holi food|                    |
| Pecherie El Mansour|                null|    35.93115|     0.08918|   pecher el mansour|                    |
|            Bvb Food|                null|        null|        null|            bvb food|                    |
|             Sevilla|                null|        null|        null|             sevilla|                    |
|          Cool Glace|                null|    35.91474|     0.05654|          cool glace|                    |
|            BVB Food|                null|   35.895214|    0.073953|            bvb food|                    |
|         Happy diner|                null|        null|        null|         happi diner|                    |
|          Restaurant|                null|        null|        null|                    |                    |
| Restaurant Equinoxe|Bd Ain Sbaa Ali E...|   34.874912|   -1.324541|             equinox|bd sbaa ali en fa...|
|       Quindi Gelato|                null|   35.712074|   -0.570729|       quindi gelato|                    |
+--------------------+--------------------+------------+------------+--------------------+--------------------+
only showing top 20 rows

In [15]:
ta.count()

1237

In [93]:
def match_join(l_sdf,
               l_id,
               l_lon,
               l_lat,
               l_name,
               l_addr,
               r_sdf,
               r_id,
               r_lon,
               r_lat,
               r_name,
               r_addr,
               distance_threshold_m,
              ):
  l_slice = l_sdf[[l_id, l_lon, l_lat, l_name, l_addr]]
  r_slice = r_sdf[[r_id, r_lon, r_lat, r_name, r_addr]]
  
  l_og_cols = l_slice.columns
  r_og_cols = r_slice.columns
  for c in l_og_cols:
    l_slice = l_slice.withColumnRenamed(c, "L_"+c)
  for c in r_og_cols:
    r_slice = r_slice.withColumnRenamed(c, "R_"+c)
  inner_joined = l_slice.join(r_slice, haversine_distance_sdf(F.col("L_"+l_lon), F.col("L_"+l_lat), F.col("R_"+r_lon), F.col("R_"+r_lat)) <= distance_threshold_m, how="inner")
       
 
# withColumn("rank", F.dense_rank().over(Window.partitionBy('L_' + l_id).orderBy(F.col("similarity").desc()))).filter("rank <= 15")
#   l_joined = l_slice.join(inner_joined, l_slice.columns)
  return(inner_joined)

In [94]:
matched = match_join(cmd_golden, "CUSTOMER_COD", "LONGITUDE", "LATITUDE", "NOM_CLEAN", "ADRESSE_CLEAN", ta, "id", "location_lon", "location_lat", "name_CLEAN", "address_CLEAN", 2000)

In [100]:
l_id="CUSTOMER_COD"
l_lon="LONGITUDE"
l_lat="LATITUDE"
l_name="NOM_CLEAN" 
l_addr="ADRESSE_CLEAN"
r_id="id"
r_lon="location_lon"
r_lat="location_lat"
r_name="name_CLEAN"
r_addr="address_CLEAN"
distance_threshold_m=2000

In [101]:
matched=matched.withColumn("name_similarity", compound_similarity_sdf(F.col("L_"+l_name),F.col("R_"+r_name)))

In [102]:
matched=matched.withColumn("dist_m", haversine_distance_sdf(F.col("L_"+l_lon), F.col("L_"+l_lat), F.col("R_"+r_lon), F.col("R_"+r_lat))).\
          withColumn("name_similarity", compound_similarity_sdf(F.col("L_"+l_name),F.col("R_"+r_name))).\
          withColumn("address_similarity", compound_similarity_sdf(F.col("L_"+l_addr),F.col("R_"+r_addr))).\
          withColumn("dist_similarity", (distance_threshold_m - F.col("dist_m"))/distance_threshold_m).\
          withColumn("similarity", F.col("name_similarity")*0.75 + F.col("address_similarity")*0.15 + F.col("dist_similarity")*0.15).withColumn("rank", F.dense_rank().over(Window.partitionBy('L_' + l_id).orderBy(F.col("similarity").desc()))).filter("rank <= 15")

In [103]:
golden_standart_uri="C:/Users/Salif SAWADOGO/OneDrive - EQUATORIAL COCA-COLA BOTTLING COMPANY S.L/dynamic segmentation/matching/output/golden_standardd.csv"
matched.repartition(1).write.mode("overwrite").option("header", "True").csv(golden_standart_uri)

Py4JJavaError: An error occurred while calling o1192.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:231)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:178)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:108)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:106)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:131)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:180)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:218)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:215)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:176)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:127)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:126)
	at org.apache.spark.sql.DataFrameWriter.$anonfun$runCommand$1(DataFrameWriter.scala:962)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:100)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:160)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:87)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:764)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:962)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:414)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:398)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:287)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:952)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 102.0 failed 1 times, most recent failure: Lost task 0.0 in stage 102.0 (TID 93, ECCBWS307.eccbc.local, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\worker.py", line 605, in main
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\worker.py", line 597, in process
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\sql\pandas\serializers.py", line 258, in dump_stream
    return ArrowStreamSerializer.dump_stream(self, init_stream_yield_batches(), stream)
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\sql\pandas\serializers.py", line 88, in dump_stream
    for batch in iterator:
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\sql\pandas\serializers.py", line 252, in init_stream_yield_batches
    batch = self._create_batch(series)
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\sql\pandas\serializers.py", line 194, in _create_batch
    arrs.append(create_array(s, t))
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\sql\pandas\serializers.py", line 168, in create_array
    raise e
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\sql\pandas\serializers.py", line 158, in create_array
    array = pa.Array.from_pandas(s, mask=mask, type=t, safe=self._safecheck)
  File "pyarrow\array.pxi", line 902, in pyarrow.lib.Array.from_pandas
  File "pyarrow\array.pxi", line 302, in pyarrow.lib.array
  File "pyarrow\array.pxi", line 83, in pyarrow.lib._ndarray_to_array
  File "pyarrow\error.pxi", line 97, in pyarrow.lib.check_status
pyarrow.lib.ArrowInvalid: Could not convert Column<b'vectorized_function(coffe time, le bagdad)'> with type Column: tried to convert to double

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:503)
	at org.apache.spark.sql.execution.python.PythonArrowOutput$$anon$1.read(PythonArrowOutput.scala:99)
	at org.apache.spark.sql.execution.python.PythonArrowOutput$$anon$1.read(PythonArrowOutput.scala:49)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:456)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:489)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage7.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:729)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:132)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:127)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:462)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:465)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2008)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2007)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2007)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:973)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:973)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:973)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2239)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2188)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2177)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:775)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2114)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:200)
	... 33 more
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\worker.py", line 605, in main
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\worker.py", line 597, in process
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\sql\pandas\serializers.py", line 258, in dump_stream
    return ArrowStreamSerializer.dump_stream(self, init_stream_yield_batches(), stream)
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\sql\pandas\serializers.py", line 88, in dump_stream
    for batch in iterator:
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\sql\pandas\serializers.py", line 252, in init_stream_yield_batches
    batch = self._create_batch(series)
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\sql\pandas\serializers.py", line 194, in _create_batch
    arrs.append(create_array(s, t))
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\sql\pandas\serializers.py", line 168, in create_array
    raise e
  File "C:\bigdata_Local\spark\python\lib\pyspark.zip\pyspark\sql\pandas\serializers.py", line 158, in create_array
    array = pa.Array.from_pandas(s, mask=mask, type=t, safe=self._safecheck)
  File "pyarrow\array.pxi", line 902, in pyarrow.lib.Array.from_pandas
  File "pyarrow\array.pxi", line 302, in pyarrow.lib.array
  File "pyarrow\array.pxi", line 83, in pyarrow.lib._ndarray_to_array
  File "pyarrow\error.pxi", line 97, in pyarrow.lib.check_status
pyarrow.lib.ArrowInvalid: Could not convert Column<b'vectorized_function(coffe time, le bagdad)'> with type Column: tried to convert to double

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:503)
	at org.apache.spark.sql.execution.python.PythonArrowOutput$$anon$1.read(PythonArrowOutput.scala:99)
	at org.apache.spark.sql.execution.python.PythonArrowOutput$$anon$1.read(PythonArrowOutput.scala:49)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:456)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:489)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage7.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:729)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:132)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:127)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:462)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:465)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more